<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email confirmed</title>
    <style>
        body{background: url({{url_for('static', filename='vintage-wallpaper.png')}});
        width:100vw;margin:0px; display:flex}
        div{display:flex; flex-direction: column;align-items:center;justify-content: center; background: white;
        border-radius: 10px;width:100%; margin: 20px;}
        h1 { font-size: 26px; font-family: 'Arial', sans-serif;}
    </style>
</head>
<body>
    <div>
        <h1>User has ben successfully confirmed! </h1>
        <a href="https://messengers-356a7.firebaseapp.com/">Homepage</a>
    </div>
</body>
</html>